
@model ZoneTech.Models.DepartamentoML
@{}
<h3>Actualizar</h3>
<form asp-controller="Departamento" asp-action="DepartamentoActualizar">
    <div>
        <label for="">ID</label>
        <input type="text" asp-for="DepartamentoId"/>
    </div>
    <div>
       <label for="">Nombre</label>
        <input type="text" asp-for="Nombre"/>      
    <button type="submit" >Guardar</button>
</form>