@model ZoneTech.Models.TipoUsuarioML
@{

}
<h3>Nuevo registro</h3>
<section class="Form">
  <div class="cuadro-input">
    <div class="data">
        <form asp-controller="TipoUsuario" asp-action="InsertTipoUsuario">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input type="text" asp-for="Nombre" class="form-control casilla">
        </div>
          <div class="mb-3">
              <label for="" class="form-label">Estado</label>
              <select class="form-select" aria-label="Default select example" name="EstadoId">
                  @foreach(var item in ViewBag.listEstado)
                  {
                    <option value="@item.EstadoId">@item.Nombre</option>
                  }
              </select>   
          </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</section>
