@model ZoneTech.Models.TipoClienteML
@{

}
<section class="Form">
  <div class="cuadro-input">
    <div class="data">
        <form asp-controller="TipoClientes" asp-action="InsertTipoCliente">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" asp-for="Nombre" class="form-control casilla">
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>



