@model ZoneTech.Models.ArticuloML
@{

}
<section>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var item in ViewBag.list)
                {
                    <div class="col">
                        <div class="card h-100 border-primary" style="max-width: 20rem">
                            <img class="card-img-top" src="/img/catalogo/productos/@item.RutaImagen" asp-append-version="true">
                            <div class="card-body">
                                <h3 class="card-title">@item.Nombre</h3>
                                <h5 class="card-title">Descripción</h5>
                                <p class="card-text">@item.Descripcion</p>
                                <p class="card-text">$@item.Precio</p>
                                @Html.ActionLink("Agregar al carrito","Agregar",new{id=@item.ArticuloId},new{@class="btn btn-primary"})
                            </div>
                        </div>
                    </div> 
                }
            </div>
        </div>
</section>