
@model ZoneTech.Models.CategoriaML
@{}
<h3>Actualizar</h3>
<section class="Form">
  <div class="cuadro-input">
    <div class="data">
        <form asp-controller="Categoria" asp-action="EditarCategoria">
            <div>
                <label for="">ID</label>
                <input type="text" asp-for="CategoriaId " class="form-control casilla"/>
            </div>
            <div>
            <label for="">Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control casilla"/>      
            </div>
            <div>
            <label for="">Imagen</label>
                <input type="text" asp-for="RutaImagen" class="form-control casilla"/>      
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Estado</label>
                <select class="form-select" aria-label="Default select example" name="EstadoId">
                    @foreach(var item in ViewBag.estado)
                    {
                    <option value="@item.EstadoId">@item.Nombre</option>
                    }
                </select>   
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
  </div>
</section>
