@{

}

<h2>Panel de control</h2>
<h3>Administrador</h3>

<section>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                    <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Marcas</h5>
                            <p class="card-text">Modificar marcas</p>
                            @Html.ActionLink("Admin","Marcas",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>
            </div>
        </div>
</section>


<section>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                    <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Categorias</h5>
                            <p class="card-text">Modificar categorias</p>
                            @Html.ActionLink("Admin","Categorias",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                    <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="">"
                        <div class="card-body">
                            <h3 class="card-title"></h5>
                            <h5 class="card-title">Articulos</h5>
                            <p class="card-text">Modificar Articulos</p>
                            @Html.ActionLink("Admin","Articulos",new{@class="btn btn-primary"})
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>