@model ZoneTech.Models.CategoriaML
@{

}

<form asp-controller="Admin" asp-action="CrearCategoria">
  <div class="form-group">
    <label for="exampleInputEmail1">Categoria Id</label>
    <input type="text" asp-for="CategoriaId" class="form-control">

    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" asp-for="Nombre" class="form-control">

    <label for="exampleInputEmail1">Estado Id</label>
    <input type="text" asp-for="EstadoId" class="form-control">
  
    <div class="mb-3">
      <label for="" class="form-label">Imagen</label>
      <input type="file" asp-for="RutaImagen" name="imagen" class="form-control"   >              
  </div>


</div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>