@model ZoneTech.Models.DepartamentoML
@{

}

<<<<<<<< HEAD:ZoneTech/Views/TipoClientes/TipoClienteNuevo.cshtml
<form asp-controller="TipoClientes" asp-action="InsertTipoCliente">
========
<form asp-controller="Admin" asp-action="InsertDepartamento">
>>>>>>>> cecf5feb1387582aacd41d1bbd641c9823c2d729:ZoneTech/Views/Admin/DepartamentoNuevo.cshtml
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" asp-for="Nombre" class="form-control">

   

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

