@model ZoneTech.Models.EstadoML
@{

}
<form asp-controller="Admin" asp-action="EstadoActualizar">
    <div>
        <label for="">ID</label>
        <input type="text" asp-for="EstadoId"/>
    </div>
    <div>
       <label for="">Nombre</label>
        <input type="text" asp-for="Nombre"/>      
    </div>
    <button type="submit" >Guardar</button>
</form>