@model ZoneTech.Models.TipoClienteML
@{

}
<h3>Nuevo registro</h3>
<form asp-controller="Admin" asp-action="InserTipoUsuario">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" asp-for="Nombre" class="form-control">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
    <div class="mb-3">
        <label for="" class="form-label">Estado</label>
        <select class="form-select" aria-label="Default select example" name="areaid">
            @foreach(var item in ViewBag.listModelo)
            {
              <option value="@item.ModeloId">@item.Nombre</option>
            }
        </select>   
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>