@model ZoneTech.Models.TipoUsuarioML
@{

}
<form asp-controller="Admin" asp-action="TipoUsuarioActualizar">
  <div>
      <label for="">Tipo Usuario Id</label>
     <input type="text" asp-for="TipoUsuarioId"/>
  </div> 
    
    <div class="form-group">
       <label for="exampleInputEmail1">Nombre</label>
    <input type="text" asp-for="Nombre" class="form-control">

    <label for="exampleInputEmail1">Estado Id </label>
    <input type="text" asp-for="EstadoId" class="form-control">
  </div>
  <br />
    <button type="submit" >Guardar</button>
</form>




 